{{ content }}
    {{ if type == 'hero' }}
    <section class="prose lg:prose-xl max-w-none py-8">
        <h1>{{ title }}</h1>

        {{ content | widont }}
    </section>
    {{ /if }}

    {{ if type == 'section' }}
    <section class="prose lg:prose-xl max-w-none py-8">
        <h2>{{ title }}</h2>

        {{ content | widont }}
    </section>
    {{ /if }}

    {{ if type == 'cta' }}
    <section class="prose lg:prose-xl max-w-none p-8 bg-zinc-300 rounded-2xl">
        {{ content | widont }}

        <a href="{{ button_link }}">{{ button_label }}</a>
    </section>
    {{ /if }}
{{ /content }}
